<div class="container ">
    <div class="row my-4">
      <div class="col-auto">
        <img src="{{artist.images | noimagen}}" class="rounded-circle img-fluid img-thumbnail border-danger" style="width: 10rem; height: 10rem;" alt="imagen">
      </div> 
      <div class="col-auto">
        <h1 class="text-white mr-auto">{{artist.name}}</h1>
        <a class="pl-2" href="{{artist.external_urls.spotify}}">Ir a la Pagina del Artista</a>
        <samp></samp>
      </div> 
      <div class="col-auto ml-auto">
        <button class="btn btn-outline-danger ml-auto" type="button" [routerLink]="['/buscar']">Regresar</button>
      </div>      
    </div>
    
    <div class="row">
      <table class="table text-white">
        <thead>
          <tr class="">
            <th scope="col">Foto</th>
            <th scope="col">Album</th>
            <th scope="col">Canción</th>
            <th scope="col">Vista Previa</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of tracks">
          <tr>
            <th scope="row"><img src="{{item.album.images | noimagen}}" class="rounded-circle img-fluid img-thumbnail border-danger" style="width: 5rem; height: 5rem;" alt="imagen"></th>
            <td>{{item.album.name}}</td>
            <td>{{item.name}}</td>
            <td><audio controls><source src="{{item.preview_url}}"></audio></td>
          </tr>
          
        </tbody>
      </table>
    </div>
</div>

