<div class="container ">
    <div class="row my-4">
      <div class="col-auto">
        <img src="{{artist.images | noimagen}}" class="rounded-circle img-fluid img-thumbnail border-danger" style="width: 10rem; height: 10rem;" alt="imagen">
      </div> 
      <div class="col-auto">
        <h1 class="text-white mr-auto">{{artist.name}}</h1>
        <samp></samp>
      </div> 
      <div class="col-auto ml-auto">
        <button class="btn btn-danger ml-auto" type="button" [routerLink]="['/home']">Regresar</button>
      </div>      
    </div>
    
    <div class="row">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

