<!-- <div class="container">
    <div class="row my-4">
        <div class="col-12">
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row ml-3">
                    <h1 class="mx-2">................</h1><h2 class="mt-1">......</h2>
                    
                </div>
                <hr>
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="..............." class="card-img" alt="...">
                    <button [routerLink]="['/home']" type="button" class="btn btn-danger my-2 btn-block">Regresar a Home</button>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><b>.............</b></h5>
                      <hr>
                      <p class="card-text">..............</p>
                      <p class="card-text"><small class="text-muted">.................</small></p>
                      <img src="................." class="card-img" style="width: 20rem;" alt="...">
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div> -->
<div class="h1 text-white">Hola</div>
